body {
  margin: 0px;
}

#navbar {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#navbar > ul {
  display: none;
  list-style: none;
}

#hamburger-menu {
  display: flex;
  align-items: center;
}

@media (min-width: 481px) {
  #hamburger-menu {
    display: none;
  }

  #navbar > ul {
    display: flex;
    gap: 10px;
  }
}
